<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.texturized.muus.infrastructure.mapper.UserViewMapper">

  <select id="existsByAccountId" parameterType="String" resultType="boolean">
    select exists (
        select *
        from user
        where user.account_id = #{AccountId}
    );
  </select>

  <select id="existsByNickname" parameterType="String" resultType="boolean">
    select exists (
      select *
      from user
      where user.nickname = #{nickname}
    );
  </select>

  <select id="existsByEmail" parameterType="String" resultType="boolean">
    select exists (
      select *
      from user
      where user.email_account = #{email}
    );
  </select>

  <select id="findByAccountId" parameterType="String" resultType="kr.texturized.muus.domain.entity.User">
    select *
    from user
    where user.account_id = #{accountId}
  </select>

</mapper>
