<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.texturized.muus.infrastructure.mapper.UserViewMapper">

  <select id="existsByAccountId" parameterType="String" resultType="boolean">
    select exists (
        select users.id
        from users
        where users.account_id = #{AccountId}
    );
  </select>

  <select id="existsByNickname" parameterType="String" resultType="boolean">
    select exists (
      select users.id
      from users
      where users.nickname = #{nickname}
    );
  </select>

  <select id="findByAccountId" parameterType="String" resultType="kr.texturized.muus.domain.entity.User">
    select
      id,
      account_id,
      password,
      nickname,
      profile_image_path,
      user_type,
      create_time
    from users
    where users.account_id = #{accountId}
  </select>

  <select id="findById" parameterType="Long" resultType="kr.texturized.muus.domain.entity.User">
    select
      id,
      account_id,
      password,
      nickname,
      profile_image_path,
      user_type,
      create_time as createTime
    from users
    where users.id = #{id}
  </select>

  <select id="findUserTypeByAccountId" parameterType="String" resultType="kr.texturized.muus.domain.entity.UserTypeEnum">
    select
        user_type
    from users
    where users.account_id = #{accountId}
  </select>

</mapper>
