<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.texturized.muus.infrastructure.mapper.UserViewMapper">

  <select id="existsByAccountId" parameterType="String" resultType="boolean">
    select exists (
        select user.id
        from user
        where user.account_id = #{AccountId}
    );
  </select>

  <select id="existsByNickname" parameterType="String" resultType="boolean">
    select exists (
      select user.id
      from user
      where user.nickname = #{nickname}
    );
  </select>

  <select id="existsByEmail" parameterType="String" resultType="boolean">
    select exists (
      select user.id
      from user
      where user.email_account = #{email}
    );
  </select>

  <select id="findByAccountId" parameterType="String" resultType="kr.texturized.muus.domain.entity.User">
    select
        id,
        account_id as accountId,
        password as password,
        nickname as nickname,
        email_account as email,
        profile_image_path as profileImage,
        category_id as userType,
        create_time as createTime
    from user
    where user.account_id = #{accountId}
  </select>

</mapper>
